*{
    box-sizing: border-box; 
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header__top{
    background-color: #303030;
}
.header__btn{
    float: right;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    color:black;
    background-color: brown;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    display: block;
    position: relative;
}
.header__btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color:black;
}
.header__btn:after{
    content: "";
    clear:both;
    display: block;
}
.header__contacs:after{
    content: "";
    clear:both;
    display: block;
}
.header__phone,
.header__email{
    color:#cdcacd;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header__email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: brown;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header__phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: brown;
}
.header__email{
    padding-left: 24px;
}
.header__content{
    padding: 34px 0px 23px;
}
#modal{
    display: none;
}
.slider{
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__item-content{
    text-align: center;
    padding-top: 200px;
    max-width: 900px;
    margin: 0 auto;
}
.slider__title{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 36px;
    color:white;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 0.8px;
    color:white;
}
.slider__inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: brown;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: white;
}
.slick-next:before{
    content: "\f054";
}
.slick-prev:before{
    content: "\f053";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
.servises{
    padding: 50px 0px 30px;
}
.servises__top,
.news__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.servises__title-box,
.news__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.servises__title-box:before, .news__title-box:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: brown;
    left: 0;
    top: 11px;
}
.servises-title,
.news-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.servises__text,
.news__text{
    letter-spacing: 0.1px;
}
.servises__btn a{
    color: black;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px ;
    border: 3px solid #e6e6e6;
}
.servises__items{
    display: flex;
    justify-content: space-between;
}
.servises__item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    max-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.servises__item-title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0px;
}
.servises__item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 10px;
    font-size: 20px;
    line-height: 22px;
}
.servises__item-btn{
    position: absolute;
    bottom: 40px;
}
.servises__item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505; 
    margin-left: 30px;
}
.about{
    background-image: url(../img/about-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 25px 20px 45px;
}
.about__inner{
    max-width: 700px;
}
.about__title{
    padding: 10px 20px 25px;
    font-size: 30px;
    line-height: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}
.about__text{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-size: 20px;
    color: #d3d2d2;
}

.news{
    padding: 60px 10px 10px;
}
.footer__content{
    background-color: #595959;
    padding: 20px 0px 30px;
  }
  .footer__inner{
    display: flex;
    justify-content: space-between;
  }
  .footer__inner .header__btn{
    float: none;
    display: inline-block;
  }
  .footer__map{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
  }
  .footer__map iframe{
    width: 100%;
  }
  .footer__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
  .footer__text{
    color: #d3d2d2;
    margin-bottom: 20px;
  }
  .footer__info{
    max-width: 360px;
  }
  .footer__list{
    padding-top: 10px;
  }
  .footer__list li{
    margin-top: 10px;
  }
  .footer__list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
  }
  .footer__list a:before{
    content: '\f003';
    position: absolute;
    left: 0;
    color: brown;
    font-family: 'icomoon';
  }
  .footer__list .footer__phone:before{
    content: "\f095";
    left: 3px;
  }
  .footer__list .footer__adress:before{
    content: "\f041";
    left: 3px;
  }
  .footer__copy{
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
}
#modal{
  width: 300px;
}
#modal input{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#modal input[type="submit"]{
  background-color:brown;
  border: none;
}